body {
    background-color: #333;
    color: #fff;
}

button {
    color: black;
}

ul {
  list-style-type: none;
}


#top_container{
    padding-right: 0px;
    padding-left: 0px;
}

.jumbotron {
    z-index: 1;
    height: 250px;
    display: flex;
    width: 100%;
}

#main_img {
    position: absolute;
    z-index: 2;
    float: right;
    top: 33%;
    left: 30%;
    min-width: 50px;
    display: flex;
}

#middle_container {
    margin-top: 300px;
    margin-left: 30%;
    width: 700px;
    height: 150px;
    border-radius: 25px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 75px;
    font-weight: 800;
}


.btn-primary {
  background-color: #E31C79;
  border-color: #E31C79;
}

#add_btn {
    margin-left: 800px;
}

#store_par_div {
    position: relative;
    padding-left: 50px;
    }

#store_child_div_1 {
    position: absolute;
    width: 100px;
    height: 200px;
    margin-left: 50px;
    }

#store_child_div_2 {
    position: absolute;
    width: 100px;
    height: 200px;
    margin-left: 225px;
    text-align: center;
    font-size: 15px;
    padding: 80px 0;
    color: #FFFFFF;
    }

#store_child_div_3 {
    position: absolute;
    width: 100px;
    height: 200px;
    margin-left: 325px;
    text-align: center;
    font-size: 15px;
    padding: 80px 0;
    color: #FFFFFF;
    }

#store_child_div_4 {
    position: absolute;
    width: 100px;
    height: 200px;
    margin-left: 425px;
    text-align: center;
    padding: 80px 0;
    }

 #store_child_div_5 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 525px;
    text-align: center;
    padding-top: 85px;
    }

#store_break {
    height: 235px;
    }


#item_par_div {
    position: relative;
    padding-left: 50px;
    }

#item_child_div_1 {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    }

#item_child_div_2 {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 400px;
    }

#item_button{
    position: absolute;
    margin-top: 550px;
    margin-left: 315px;
    }

#item_blurb{
    position: absolute;
    margin-top: 425px;
    margin-left: 175px;
    width: 425px;
    font-size: 15px;
    }


#cart_par_div {
    position: relative;
    padding-left: 50px;
    }

#cart_child_div_1 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    }

#cart_child_div_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 150px;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    padding-top: 30px;
    }

#cart_child_div_3 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 250px;
    text-align: center;
    font-size: 13px;
    color: #FFFFFF;
    padding-top: 30px;
    }

#cart_child_div_4 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 350px;
    text-align: center;
    padding-top: 30px;
    }

#cart_child_div_5 {
position: absolute;
    width: 100px;
    height: 165px;
    margin-left: 600px;
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    }

#cart_child_div_6 {
position: absolute;
    width: 150px;
    height: 165px;
    margin-left: 700px;
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    }

#cart_break {
    height: 135px;
    }

#cart_empty{
    margin-top: 25px;
    margin-left: 200px;
    font-size: 17px;
    }



#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 0px;
  padding-left: 65px;
}

#mainNav .navbar-brand {
  font-size: 26px;
  font-weight: 800;
  color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 24px;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}


#about{
    margin-top: 25px;
    margin-left: 65px;
    font-size: 17px;
    }


#bottom_container {
    position: relative;
    margin-top: 0px;
}


footer {
    position: fixed;
    bottom: 0;
    margin-left: 59px;
    padding: 35px 0 26px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .list-inline-item {
  margin: 0;
  padding: 0;
  color: white;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

#footer_row {
    border-top: 1px solid white;
    padding-top: 40px;
}