
{% include "header.html" %}

<body>
    {% if items == [] %}
        <p id="cart_empty">Your cart is currently empty.</p>
    {% endif %}
  <div id="cart_par_div">
  {% for item in items %}
      <div id="cart_child_div_1">
        <a href="{{ url_for('show_item', item_id=item.id) }}">
            <img src="/static/images/cart/{{ item.img_url }}"></a>
      </div>
      <div id="cart_child_div_2">
        <p>{{ item.name }}</p>
      </div>
      <div id="cart_child_div_3">
            <p>{{ item.price }}</p>
      </div>
      <div id="cart_child_div_4">
        <p><a href="{{url_for('delete', item_id=item.id, delete_from='cart')}}">Delete</a></p>
      </div>
      {% if items.index(item)==0 %}
          <div id="cart_child_div_5">
              <p> Subtotal </p>
          </div>
      {% endif %}
      {% if items.index(item)==0 %}
          <div id="cart_child_div_6">
              <p> {{ subtotal }}</p>
              <a class="btn btn-primary float-right" href="{{url_for('checkout')}}">Go to checkout</a>
              <br>
              <p><a style="font-size: 15px" href="{{url_for('store')}}">Continue shopping</a></p>
          </div>
      {% endif %}
      <div id="cart_break">
  </div>
      {% endfor %}
  </div>

</body>

{% include "footer.html" %}
