<!DOCTYPE html>
<html lang="en">

 <!-- Footer -->
<div class="container" id="bottom_container">
    <footer class="fixed-bottom">
        <br>
        <div class="row" id="footer_row">
            <p class="copyright">Copyright &copy; Hot Wheels Depot 2023</p>
        </div>
    </footer>
</div>

  <!-- Bootstrap core JavaScript -->
 <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
 <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</html>

