
{% include "header.html" %}


  <div class="container col-12" id="top_container">
      <div class="jumbotron bg-white" style="background-image: url({{ url_for('static', filename='images/logo_4.png') }})">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div>
              <img id=main_img src="/static/images/BeachBomb_trnsp.png">
            </div>
          </div>
        </div>
      </div>
  </div>


 <div class="container" id="middle_container">
     <div class="row">
        <div class="col-md-12 text-nowrap">
           <p><span style="font-size: 35px;">Hot Wheels</span><span style="font-size: 22px;">&#174</span><span style="font-size: 125px;">Depot</span></p>
        </div>
    </div>
 </div>

 <br>



{% include "footer.html" %}
