
{% include "header.html" %}

<body>
  <div class="container" id="main_container">
     <div class="container" id="top_container">
       <header class="jumbotron bg-white" style="background-image: url({{ url_for('static', filename='images/logo_4.png') }})">
         <div class="overlay"></div>
         <div class="container">
           <div class="row">
             <div class="col-lg-8 col-md-10 mx-auto">
               <div class="site-heading">
                 <h1></h1>
                 <span class="subheading"></span>
               </div>
             </div>
           </div>
         </div>
       </header>
       <img id=main_img src="/static/images/BeachBomb_trnsp.png">
    </div>
  </div>

 <br>
 <br>

 <div class="container" id="middle_container">
  <p><span style="font-size: 35px;">Hot Wheels</span><span style="font-size: 22px;">&#174</span><span style="font-size: 125px;">Depot<span></p>
 </div>

 <br>

</body>

{% include "footer.html" %}
