<!DOCTYPE html>
<html lang="en">

 <!-- Footer -->
<footer id="store_footer">
  <div class="container" id="bottom_container">
    <hr>
    <br>
    <div class="row">
        <p class="copyright text-muted">Copyright &copy; Hot Wheels Depot 2023</p>
    </div>
  </div>
</footer>

  <!-- Bootstrap core JavaScript -->
 <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
 <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</html>

