{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
{% endblock %}


{% block title %}Hot Wheels Depot{% endblock %}

{% block content %}
{% include "header.html" %}

<body>
<!-- Add new item -->
  {% if current_user.id == 1: %}
    <div class="clearfix">
      <a class="btn btn-primary float-right" id=add_btn href="{{url_for('add_item')}}">Add new item</a>
    </div>
  {% endif %}

  <div id="store_par_div">
  {% for item in items %}
      <div id="store_child_div_1">
        <a href="{{ url_for('show_item', item_id=item.id) }}">
            <img src="/static/images/store/{{ item.img_url_1 }}"></a>
      </div>
      <div id="store_child_div_2">
        <p>{{ item.name }}</p>
      </div>
      <div id="store_child_div_3">
            <p>{{ item.price }}</p>
      </div>
      <div id="store_child_div_4">
        <a class="btn btn-primary float-right" href="{{url_for('add_to_cart', item_id=item.id)}}">Add to cart</a>
      </div>
      {% if current_user.id == 1: %}
        <div id="store_child_div_5">
            <p><a href="{{url_for('delete', item_id=item.id, delete_from='store')}}">Delete</a></p>
        </div>
  {% endif %}




    <div id="store_break">
    </div>
  {% endfor %}
  </div>

</body>

{% include "store_footer.html" %}
{% endblock %}